* text=auto

*.cs text diff=csharp
*.shader text
*.cginc text
*.hlsl text

*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.mat text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.overrideController text eol=lf
*.playable text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tga binary
*.tif binary
*.tiff binary
*.exr binary
